**.vscode/
build
**/CMakeFiles
**/cmake_install.cmake
**/Makefile
**/CMakeCache.txt
document_project-prefix
**/*.wasm
**/.nyc*
**/.nyc_output/**
**.DS_Store
.DS_Store
eosc-vault.json
cleos-wallet
**/*node_modules
yarn.lock
package-lock.json
test.key
test.pub
junk.json
docgraph/test_results